{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.login.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-4">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Login form</h1>
    <label for="inputEmail" class="sr-only">e-mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2"
           placeholder="e-mail" required>
    <label for="inputPassword" class="sr-only">password</label>
    <input type="password" name="password" id="inputPassword" class="form-control mt-2"
           placeholder="password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary mt-3" type="submit">Login</button>
    </form>
            </div>
        </div>
    </div>
{% endblock %}
